/* Custom properties */

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);

  --fs-regular: 15px;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-light-gray);
  font-family: "Outfit", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Card styles */

.container {
  max-width: 350px;
  background-color: var(--clr-white);
  margin: 200px auto;
  padding: 1rem;
  border-radius: 20px;
}

.qr-code img {
  border-radius: 15px;
}

.description {
  margin-block: 1rem;
  padding-inline: 1rem;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
  }

  p {
    color: var(--clr-grayish-blue);
    font-size: var(--fs-regular);
    padding-inline: 1.5rem;
  }
}
